@import "tailwindcss";


.custom-shape-hover {
  position: relative;
  overflow: hidden;
}

.custom-shape-hover::before,
.custom-shape-hover::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  transition: transform 0.4s ease, background-color 0.3s ease;
  z-index: 0;
}

.custom-shape-hover::before {
  bottom: -20px;
  left: -60px;
  transform: translate(0, 0);
}

.custom-shape-hover::after {
  bottom: -60px;
  left: -20px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(0, 0);
}

.custom-shape-hover:hover::before,
.custom-shape-hover:hover::after {
  transform: scale(1.5);
  background-color: oklch(87.1% 0.15 154.449 / 0.4); /* hijau muda saat hover */
  
}
